# Definitions for the physical printer PPE (Purple Plastic Eater)
# This printer is a Voron 0.1

################################################################
# Voron V0/V0.1
################################################################
[include printers/voron-v0.cfg]
[include extruders/mini-ab.cfg]
[include hotends/dragonfly-0.4.cfg]
[include displays/v0-display.cfg]
[include macros/macros.cfg]

################################################################
# Serial Port device paths
################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDB054255373720841957-if00

[mcu v0_display]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_12000F000143535031303820-if00

################################################################
# Overrides from V0.1 defaults go below this line
################################################################

#############################################################################################################
### MACRO CONFIGURATION
### Configure the behavior of RatOS macros
#############################################################################################################
[gcode_macro _MACRO_CONFIG]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: False
# Wait for extruder to reach (EXTRUDER_TEMP-50) so an inductive probe (if present) is at a predictable temp. 
# Also allows the bed heat to spread a little, and softens any plastic that might be stuck to the nozzle.
# Set to False to disable
variable_preheat_extruder: True
# After (optionally) pre-heating the nozzle and heating the bed, wait an additional time to allow the
# temperature of components within the print chamber to equalize in temperature. Set to "chamber" if
# the printer has a chamber thermistor and the slicer has been configured with a chamber temperature.
# Set to "time" for a heatsoak of a fixed number of minutes.
variable_heatsoak: False
# If heatsoak is "time", or if heatsoak is "chamber" but the slicer configured chamber temperature is zero,
# pecifies how many minutes to wait after bed reaches target temperature before resuming the print process.
variable_heatsoak_minutes: 15
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE, it will still load the BED_MESH 
# with the name "ratos", be sure to save your bed_mesh profile with that name.
# or override the _START_PRINT_BED_MESH macro to implement your own mesh handling logic.
variable_calibrate_bed_mesh: False
# Print a prime line or blob at the end of the START_PRINT macro
# set to "primeline" or "primeblob", or False to disable nozzle_priming.
variable_nozzle_priming: "primeline"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "front"
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
#variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "front"
# Set the speed for travel moves in macros (in mm/s).
variable_macro_travel_speed: 300
