# Definitions for the physical printer PPE (Purple Plastic Eater)
# This printer is a Voron 0.1

# Reachable area  X: [0, 121]; Y: [0, 119]
# Printable area: X: [0, 119]; Y: [0, 116]

[include ../../boards/btt-skr-mini-e3-v2.cfg]
[include ../../boards/ldo-picobilical.cfg]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

################################################################
# Serial Port device paths
################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDB054255373720841957-if00

[mcu v0_display]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_12000F000143535031303820-if00

[mcu umb]
serial: /dev/serial/by-id/usb-Klipper_rp2040_325234373704A697-if00

################################################################
# X Axis
################################################################

[stepper_x]
step_pin: x_step_pin
dir_pin: x_dir_pin
enable_pin: !x_enable_pin
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 121
position_max: 121
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: uart_pin
tx_pin: tx_pin
uart_address: 0
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 1
diag_pin: x_diag_pin
driver_SGTHRS: 122 # Tune for your printer. 255 is max sensitivity

################################################################
# Y Axis
################################################################

[stepper_y]
step_pin: y_step_pin
dir_pin: y_dir_pin
enable_pin: !y_enable_pin
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: uart_pin
tx_pin: tx_pin
uart_address: 2
interpolate: False
run_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 1
diag_pin: y_diag_pin
driver_SGTHRS: 122  # Tune for your printer. 255 which is the MAX sensitivity

################################################################
# Z Axis
################################################################

[stepper_z]
step_pin: z_step_pin
dir_pin: !z_dir_pin
enable_pin: !z_enable_pin
rotation_distance: 8
microsteps: 32
endstop_pin: z_endstop_pin
position_endstop: 113.055
position_max: 113.055
position_min: -1.5
homing_speed: 20
second_homing_speed: 1.0
homing_retract_dist: 1.0

[tmc2209 stepper_z]
uart_pin: uart_pin
tx_pin: tx_pin
uart_address: 1
interpolate: False
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 1

[include homing.cfg]

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

################################################################
# Extruder
################################################################

# This just defines a few settings that are unique to the mini-sb (gear ratio, for example)
#  and some reasonable defaults for others
[include ../../extruders/mini-sb.cfg]

[extruder]
step_pin: e_step_pin
dir_pin: !e_dir_pin
enable_pin: !e_enable_pin
full_steps_per_rotation: 200 
# rotation_distance: 22.23  # See calibrating rotation_distance on extruders doc

nozzle_diameter: 0.400
heater_pin: umb:e_heater_pin
sensor_pin: umb:e_sensor_pin
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200

pressure_advance_smooth_time: 0.04
max_extrude_only_velocity: 120
max_extrude_only_accel: 800
max_extrude_only_distance: 150
max_extrude_cross_section: 0.8

# Phaetus DragonFly BMO with 0.4mm nozzle
min_temp: 0
max_temp: 305
min_extrude_temp: 170

# Default PID values - run PID tune
control: pid
pid_Kp: 28.182
pid_Ki: 1.978
pid_Kd: 100.397

[tmc2209 extruder]
uart_pin: uart_pin
tx_pin: tx_pin
uart_address: 3
interpolate: False
run_current: 0.6 # LDO-36STH20
sense_resistor: 0.110
stealthchop_threshold: 0

################################################################
# Temperature Sensors
################################################################

[temperature_sensor rpi]
sensor_type: temperature_host

[temperature_sensor mcu]
sensor_type: temperature_mcu

################################################################
# Bed Heater
################################################################

[heater_bed]
heater_pin: heater_bed_heating_pin
sensor_pin: heater_bed_sensor_pin
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 120
# Default PID - run PID tune
control = pid
pid_kp = 72.767
pid_ki = 1.311
pid_kd = 1009.641

################################################################
# Fan Control
################################################################

# Hotend fan
[heater_fan hotend_fan]
pin: umb:fan_hotend_pin
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

# Part fan
[fan]
pin: umb:fan_part_pin
max_power: 1.0
kick_start_time: 0.5 

# Fan at  bottom of electronics bay
[controller_fan controller_fan]
pin: fan0
heater: heater_bed, extruder
fan_speed: 0.5
max_power: 1.0
kick_start_time: 0.5 

################################################################
# Kirigami Bed Neopixel
################################################################
[neopixel bed]
pin: neopixel_pin
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

################################################################
# Display
################################################################
[include ../../displays/v0-display.cfg]
[include ../../menus/small-display-menu.cfg]

################################################################
# Miscellaneous settings
################################################################

[skew_correction]

[input_shaper]

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[force_move]
enable_force_move: True

[respond]

# Exclude object support
# https://docs.mainsail.xyz/features/exclude_objects
[exclude_object]

################################################################
# Idle behavior
################################################################

[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      M117 Idle timeout reached
      M107
      TURN_OFF_HEATERS
      DISABLE_STEPPERS
    {% endif %}
  {% endif %}
# 2 hour timeout
timeout: 7200

################################################################
# Macros
################################################################

[include ../../macros/macros.cfg]
[include ../../macros/led-progress.cfg]

################################################################
# Macro configuration

[gcode_macro _MACRO_CONFIG]
# Use absolute extrusion mode
# Set to True to use relative extrusion mode
variable_relative_extrusion: False
# Wait for extruder to reach (EXTRUDER_TEMP-<preheat_extruder_offset>) so an inductive probe (if present) 
# is at a predictable temp and to aid with chamber heating. Set to 0 to disable.
variable_preheat_extruder_offset: 0
# Wait for extruder to reach <preheat_extruder_temp> so an inductive probe (if present) 
# is at a predictable temp and to aid with chamber heating. Set to 0 to disable.
variable_preheat_extruder_temp: 170
# After (optionally) pre-heating the nozzle and heating the bed, wait an additional time to allow the
# temperature of components within the print chamber to equalize in temperature. Set to "chamber" if
# the printer has a chamber thermistor and the slicer has been configured with a chamber temperature.
# Set to "time" for a heatsoak of a fixed number of minutes.
variable_heatsoak: False
# If heatsoak is "time", or if heatsoak is "chamber" but the slicer configured chamber temperature is zero,
# pecifies how many minutes to wait after bed reaches target temperature before resuming the print process.
variable_heatsoak_minutes: 15
# Tramming behavior. Printers without the ability to tram thbe bed (i.e. no z probe) should set this to 
# "none". Printers that can tram the bed can set it to either "always" or "smart". "smart" will only tram
# the bed if the Z steppers have been disabled or the power has been cycled since the last tram, 
# whereas "always" will always invoke the traming procedure. Note for traming to work, a macro named
# "_TRAM_Z" must be provided to implement tramming for the specific printer (the default does nothing).
variable_tram_z: "none"
# Calibrate the bed mesh in the START_PRINT macro.
# Set to false to skip BED_MESH_CALIBRATE. Set to "default" and it will load the BED_MESH 
# with the name "default". Set to "calibrate" to run a bed mesh before starting the print 
# (obviously you want a probe). Set to "temp" to load a mesh named "temp_<C>" where <C> is
# the bed temperature passed to START_PRINT.
variable_calibrate_bed_mesh: "false"
# Print a prime line or blob at the end of the START_PRINT macro
# set to "primeline" or "primeblob", or "none" to disable nozzle_priming.
variable_nozzle_priming: "none"
# Park in the back when waiting for the extruder to heat up
# set to "front" to park in the front, or "center" to park in the center.
variable_start_print_park_in: "front"
variable_start_print_park_x: -1 # Centered
# Height to park it when waiting for extruder to heat.
variable_start_print_park_z_height: 50
# Skew profile to load before starting the print 
# uncomment this to use your calibrated skew correction profile.
#variable_skew_profile: "my_skew_profile"
# Park in the back after the print has ended or was cancelled.
# set to "front" to park in the front, or "center" to park in the center.
variable_end_print_park_in: "back"
variable_end_print_park_x: 113
# Park in the back when the print is paused.
# set to "front" to park in the front, or "center" to park in the center.
variable_pause_print_park_in: "back"
variable_pause_print_park_x: 113
# Y position for PARK_FOR_LOAD macro. Valid values front, back, center.
variable_load_park_in: "center"
variable_load_park_x: 5
# Z position for PARK_FOR_LOAD macro.
variable_load_park_z_height: 50
# Set the speed for travel moves in macros (in mm/s).
variable_macro_travel_speed: 300
# If set to true will not disable Z steppers after print. This is useful for printers that
# can go out of tram if Z steppers are disabled.
variable_disable_z_steppers_after_print: True
# Distance from start of extruder gears until filament enters melt zone
variable_load_preload_mm: 70
# Distance to extrude after filament enters melt zone
variable_load_purge_mm: 40
gcode:
  ECHO_MACRO_CONFIG_VARS  

