# Macros for priming the nozzle prior to printing

[gcode_macro _PRIME_LINE]
description: Prints a primeline, used internally, if configured, as part of the PRINT_START macro.
gcode:
  SAVE_GCODE_STATE NAME=prime_line_state
  {% set speed = printer["gcode_macro _MACRO_CONFIG"].macro_travel_speed|float * 60 %}
  # Absolute positioning
  G90 
  # Absolute extrusion
  M82
  SET_DISPLAY_TEXT MSG="Priming nozzle with prime line.."
  RESPOND MSG="Priming nozzle with prime line.."
  # Lift 5 mm
  G1 Z5 F3000
  # Move to prime area
  G1 X{printer.toolhead.axis_minimum.x + 5} Y{printer.toolhead.axis_minimum.y + 10} F{speed}
  # Get ready to prime
  G1 Z0.3 F3000
  # Reset extrusion distance
  G92 E0
  # Prime nozzle 
  G1 Y{printer.toolhead.axis_minimum.y + 80} E16 F1200
  G1 X{printer.toolhead.axis_minimum.x + 4} Z0.2 F3000
  G1 Y{printer.toolhead.axis_minimum.y + 40} E22 F1200
  # Wipe
  G1 Y{printer.toolhead.axis_minimum.y + 5} F{speed}
  RESTORE_GCODE_STATE NAME=prime_line_state

[gcode_macro _PRIME_BLOB]
description: Prints a primeblob, used internally, if configured, as part of the PRINT_START macro. Slower than PRIME_LINE but much more effective.
gcode:
  SAVE_GCODE_STATE NAME=prime_blob_state
  SET_DISPLAY_TEXT MSG="Priming nozzle with prime blob.."
  RESPOND MSG="Priming nozzle with prime blob.."
  {% set speed = printer["gcode_macro _MACRO_CONFIG"].macro_travel_speed|float * 60 %}
  # Absolute positioning
  G90 
  # Relative extrusion
  M83
  # Lift 5 mm
  G1 Z5 F3000
  # move to blob position
  G1 X{printer.toolhead.axis_minimum.x + 5} Y{printer.toolhead.axis_minimum.y + 10} Z0.5 F{speed}
  # Extrude a blob
  G1 F60 E20
  # 40% fan
  M106 S102 
  # Move the extruder up by 5mm while extruding, breaks away from blob
  G1 Z5 F100 E5  
  # Move to wipe position, but keep extruding so the wipe is attached to blob
  G1 F200 Y{printer.toolhead.axis_minimum.y + 25} E1 
  # Go down diagonally while extruding
  # Broken down in z moves under 2mm as a workaround for a tuning tower test.
  # The tuning tower command thinks a new print has been started when z moves over 2mm and aborts.
  G1 F200 Y{printer.toolhead.axis_minimum.y + 30} Z3.8 E0.5
  G1 F200 Y{printer.toolhead.axis_minimum.y + 35} Z2.6 E0.5
  G1 F200 Y{printer.toolhead.axis_minimum.y + 40} Z1.4 E0.5
  G1 F200 Y{printer.toolhead.axis_minimum.y + 45} Z0.2 E0.5
  # 0% fan
  M106 S0
  # small wipe line
  G1 F200 Y{printer.toolhead.axis_minimum.y +50} Z0.2 E0.6 
  # Break away wipe
  G1 F{speed} Y{printer.toolhead.axis_minimum.y + 100}
  RESTORE_GCODE_STATE NAME=prime_blob_state
